<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="px-5 py-7">
    <header class="flex flex-col gap-5 mb-5">
      <ion-text color="dark">
        <h4 class="font-semibold text-xl text-black my-0">Meu Perfil</h4>
      </ion-text>

      <button
        class="bg-primary text-white text-sm w-28 h-10 rounded-lg"
        type="submit"
        (click)="handleLogout()"
      >
        Sair da conta
      </button>
    </header>

    <main class="flex flex-col gap-6">
      <div
        *ngIf="!isLoading && posts.length === 0"
        class="flex flex-col items-center justify-center py-8"
      >
        <ion-icon
          name="document-text-outline"
          class="text-4xl text-gray-400 mb-2"
        ></ion-icon>
        <p class="text-gray-500 text-center">Você ainda não tem nenhum post.</p>
      </div>

      <div
        *ngFor="let post of posts"
        class="bg-white rounded-lg shadow-sm border border-gray-200 p-6"
      >
        <div class="flex items-center gap-3 mb-4">
          <div class="flex items-center justify-between gap-3 mr-auto">
            <div
              class="w-10 h-10 rounded-full bg-primary flex items-center justify-center text-white font-semibold"
            >
              {{ post.user.name[0] }}{{ post.user.lastName[0] }}
            </div>
            <div>
              <h4 class="font-semibold text-sm text-gray-800 mt-2 mb-0">Por</h4>
              <p class="text-sm text-gray-500">você</p>
            </div>
          </div>
        </div>

        <h2 class="text-xl font-bold text-gray-900 mb-2">{{ post.title }}</h2>
        <h3 class="text-lg text-gray-700 mb-3">{{ post.subtitle }}</h3>
        <p class="text-gray-600">{{ post.description }}</p>

        <div class="mt-4 flex items-center justify-between text-sm">
          <span class="text-gray-500">
            {{ post.createdAt | date:'dd/MM/yyyy HH:mm' }}
          </span>
          <button
            class="flex items-center gap-1 text-red-700 hover:text-red-700 transition-colors"
            (click)="handleDeletePost(post.id)"
          >
            <ion-icon name="trash-outline" class="text-lg"></ion-icon>
            <span>Excluir post</span>
          </button>
        </div>
      </div>

      <div *ngIf="isLoading" class="flex justify-center py-4">
        <ion-spinner></ion-spinner>
      </div>

      <ion-infinite-scroll
        (ionInfinite)="onScroll($event)"
        [disabled]="!hasMore"
      >
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>

      <div
        *ngIf="!hasMore && posts.length > 0"
        class="text-center text-gray-500 py-4 mb-20"
      >
        Não há mais posts para carregar
      </div>
    </main>
  </div>
</ion-content>
